/*----------------------------------------
    Cards
------------------------------------------*/

/* task card */
#task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto;
}

#task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}

#task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

#task-card .collection-header {
  padding: 20px;
}

#task-card .task-add {
  position: absolute;
  right: 10px;
  top: 76px;
}

#task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

.ultra-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.card {
  overflow: hidden;
}

#card-stats .card-content {
  text-align: center;
}

#card-stats .card-stats-title {
  font-size: 1.2rem;
}

#card-stats .card-stats-title i {
  font-size: 1.2rem;
}

#card-stats .card-stats-compare {
  font-size: 1.0rem;
}

#card-stats .card-stats-compare i {
  position: relative;
  top: 5px;
}

#card-stats .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500;
}

#card-stats .card .card-content {
  padding: 10px 14px;
}

#card-stats .card .card-action {
  padding: 10px 14px;
}

/* alert card */
#card-alert i {
  font-size: 20px;
  position: relative;
  top: 2px;
}

#card-alert .alert-circle {
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
  position: relative;
  top: -5px;
  left: -2px;
}

#card-alert .single-alert {
  line-height: 42px;
}

#card-alert button {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

#card-alert .card .card-content {
  padding: 20px 40px 20px 20px;
}

#card-alert .card-action i {
  top: 0;
  margin: 0;
}

