@model MooShark2.Models.Account 
        <h3><span class="pink pink-text heading">_</span><span class="heading heading-text"> Users</span></h3>
        <div class="row">
            <div class="col s12">
                <ul class="collection z-depth-1">
					@if (Model != null)
					{
					foreach (var user in Model.Account)
					{
                    <a class="collection-link" href="course.html">
                        <li class="collection-item avatar hover">
                            <img src="@user.imagePath" alt="" class="circle">
                            <div class="row nobot">
                                <div class="col s3">
                                    <p class="title truncate">@user.name</p>
                                </div>
                                <div class="col s3">
                                    <p class="due truncate">@user.emails</p>
                                </div>
                                <div class="col s3">
                                    <p class="description truncate">@user.roleId</p>
                                </div>
                            </div>
                            <a href="#!" class="secondary-content"><i class="small material-icons grey-text text-lighten-1">info</i></a>
                        </li>
                    </a>
					}
					}
                </ul>
            </div>
        </div>
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red modal-trigger" href="#addModal" >
                <i class="large material-icons add_fab">add</i>
            </a>
        </div>

        <!-- Modal Structure -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <div class="row nobot">
                    <h4 class="modal-header blue-text">Add User</h4>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" class="validate">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="file-field input-field">
                            <div class="row">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Profile image">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="modal-submit modal-action modal-close waves-effect waves-blue green btn right"/>
                    </form>
                </div>
            </div>
        </div>
