@model MooShark2.Models.SubmissionTeacherViewModel
@{
    ViewBag.Title = "All submissions";
}
<main class="cont">
    <div class="row nobot">
        <div class="col s6">
            <h3><span class="purple purple-text heading">_</span><span class="heading heading-text">All submissions</span></h3>
        </div>
        <div class="col s6">
            <a class="right waves-effect blue lighten-1 waves-light btn backButton"><i class="material-icons left">navigate_before</i>back</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection z-depth-1">
                @foreach(var item in Model.TableData)
                {
                    <li class="collection-item avatar hover">
                        <div class="row nobot">
                            <div class="col s6">
                                <div class="title truncate">@item.teamName</div>
                            </div>
                            <div class="col s6">
                                <a href="@Url.Action("Submission", "Submissions", new { id = item.submissionId })" class="waves-effect waves-teal"><i class="material-icons left blue-text">book</i>Best submission</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>

